*
{
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow-x: hidden;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #1A0F91;
}

h2 {
    font-family: 'Manrope', sans-serif;

}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    color: #414040;
}

button {
    padding: 1.5rem 3rem;
    border-radius: 4rem;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
}


/* Navigation */
.nav-bar{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    min-height: 2rem;
    max-width: 2rem;
}

.nav-links {
    display: none;
    width: 40%;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* Hero */

.hero-decor {
    display: initial;
    position: absolute;
    right: 0;
    z-index: -1;
}

.hero-decor-2 {
    position: absolute;
    right: 0;
    top: -7rem;
    z-index: -1;
}

.hero-pg {
    display: none;
}

.hero-decor-2 {
    display: none;
}

#hero {
    padding: 6.5rem 2rem;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    width: 80%;
}

.cta {
    background-color: #31279B;
    color: #FFFFFF;
    font-size: 20px;
}

/* About */
#about {
    display: flex;
    position: relative;
}

.page-decor-2 {
    display: none;
}

.about-content{
    position: absolute;
    right: 0;
    padding-top: 7rem;
    padding-right: 2rem;
    text-align: right;
    width: 65%;
}

.about-pg {
    display: initial;
}

.about-pg-2 {
    display: none;
}

#about button {
    background-color: #1A0F91;
    color: #FFFFFF;
    margin-top: 2rem;
}

/* Services */
#services {
    position: relative;
    margin-top: -3rem;
    padding: 4rem 1rem;
    text-align: center;
    background-color: #31279B;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    place-items: center;
    margin-top: 3rem;
}

.grid-item {
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
}

.grid-item svg {
    margin: auto;
}

.grid-item h1{
    color: #FFFFFF;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

/* Workflow */
.workflow-content {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

[class^="row-"]{
    width: 50%;
}

.row-right-1, .row-left-2 {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.8rem;
}

.row-right-2 {
    display: flex;
    justify-content: flex-end;
}

.curved-shape-1 {
    display: initial;
}

.curved-shape-2 {
    display: none;
}

.workflow-subject {
    color: #1A0F91;
    font-weight: 700;
}

/* Headline */
.headline {
    position: relative;
    /* height: 20rem; */
    width: 100%;
}

.headline img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A0F91; 
    filter: opacity(50%);
    z-index: 0;
}

/* Testimonials */
#testimonials h1 {
    text-align: center;
    margin: 4rem 0rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: #ccc 0.5rem 0.5rem 0.5rem;
}

.headshot {
    height: 8rem;
    width: 8rem;
    background-color: #ccc;
    border-radius: 100px;
}

#tagline, #testimonials, #workflow, #contact{
    margin: 10rem 0rem;
}

/* Tagline */
.left-content {
    padding: 2rem;
}

.left-content p {
    color: #31279B;
    font-size: 1.2rem;
}

.left-content h1 {
    font-size: 3rem;
}

.shape-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.shape-right {
    margin-top: 8rem;
}

.shape-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.shape-right {
    display: flex;
    flex-direction: column;
}

/* Banner */
#banner {
    background-color: #31279B;
    min-height: 10rem;
}


/* Contact */
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-left {
    display: flex;
    justify-content: center;
}
.contact-left img {
    width: 80%;
}

.contact-form {
    padding: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 2rem;
}

input {
    padding: 1rem;
    border-radius: 20px;
    width: 90%;
    border: none;
    border-bottom: 2px solid #1A0F91;
}

/* Sign Up */
#sign-up {
    text-align: center;
    padding: 1rem;
}


.input-container {
    display: flex;
    margin-top: 2rem;
}

.input-container input {
    border: 1px solid #ccc;
    border-radius: 50px;

}

.input-container button {
    margin-left: -100px;
}

/* Footer */

footer {
    margin-top: 15rem;
    background-color: #1A0F91;
}

.footer-content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.company-info, .footer-links{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.company-info h1 {
    font-size: 2rem;
    margin-bottom: 0;
}


.links-1, .links-2 {
    text-align: center;
}

.links-1 li , .links-2 li {
    list-style: none;
    text-align: center;
    margin-left: -1rem;
}

.links-1 ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

    .hero-decor, .page-decor, .curved-shape-1 {
        display: none;
    }

    .hero-decor-2, .hero-pg, .about-pg{
        display: block;
        color: #1A0F91;
        margin-bottom: 2rem;
    }

    .nav-links, .page-decor-2, .about-pg-2, .curved-shape-2 {
        display: block;
    }

    /* Hero */
    #hero {
        margin-top: -2rem;
    }

    .cta {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .page-decor-2 img {
        height: 80%;
    }

    .about-content {
        margin-top: 5rem;
        text-align: left;
        width: 50%;
        padding-right: 4.5rem;
    }

    #about {
        margin-bottom: -27rem;
    }

    .card-container {
        padding: 1rem;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }






}


